
.county {
    stroke: black;
    stroke-width: .1px;

}

.state {
    stroke:black;
    stroke-width: 2px;
}

.state-outline {
    stroke:black;
    stroke-width: 2px;
    fill: none;
}


#legend {
    border: 2px solid;
    border-color: black;
    width: 150;
    fill:beige;
    
}

.legend-text {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-anchor: middle;
    fill: black;
}

.ticklabels {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.axislabel{
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  .txt {
      font-family: sans-serif;
      
  }

